apiVersion: v1
kind: Secret
metadata:
  name: cloudcart-secret
  namespace: cloudcart

stringData:
  POSTGRES_USER: cloudcart_dev_user
  POSTGRES_PASSWORD: cloudcart_dev_password
  POSTGRES_DB: cloudcart_dev_db
  POSTGRES_HOST: cloudcart-postgresql-service
  POSTGRES_PORT: "5432"
  DATABASE_URL: postgresql+psycopg://cloudcart_dev_user:cloudcart_dev_password@cloudcart-postgresql-service:5432/cloudcart_dev_db