apiVersion: v1
kind: Secret
metadata:
  name: tls-cloudsytemonline.com
  namespace: cloudcart
  labels:
    app.kubernetes.io/name: tls-cloudsytemonline.com
    app.kubernetes.io/instance: cloudcart-secret-tls
    app.kubernetes.io/component: secret
    app.kubernetes.io/part-of: cloudcart
    app.kubernetes.io/managed-by: kustomize
type: kubernetes.io/tls
data:
  tls.crt: base64 encoded certificate
  tls.key: base64 encoded private key